<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Няшный прототип чатика!</title>
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>

<body>
  <div id="app" class="window">
    <div class="header">
      <span class="spec">Специалист по шушпанчикам</span>
    </div>
    <div class="content">
      <div ref="messagesList" class="content__wrapper">
        <message 
          v-for="(message, index) in messages"
          v-on:mounted="scrollChat"
          :from-opponent="message.fromOpponent"
          :content="message.content"
          :key="index">
        </message>
      </div>
    </div>
    <div class="input-area">
      <div class="input-area__wrapper">
        <textarea
          v-model="questionContent"
          @keydown.enter="enter"
          placeholder="Задайте мудрейшему вопрос...">
        </textarea>
        <div class="send-button">
          <img
            :class="{ expand: animateButton }"
            @click="ask"
            src="images/send.svg" alt="send">
        </div>
      </div>
    </div>
  </div>

  <!-- Vendor -->
  <script src="https://unpkg.com/vue@2.2.2/dist/vue.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="app.js"></script>
</body>

</html>